#cop-make-fine.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Выписать штраф за пакет акций
                // Stock package company name should be here
            .modal-body
                .row.form-group
                    label.col-md-offset-2.col-md-4.control-label(for='fine-value') Сумма штрафа (50% от цены):
                    .col-md-5
                        input#fine-value.form-control(type='number', min='0', value='1000', pattern="[0-9]*", readonly="")
                .row.form-group
                    label.col-md-offset-2.col-md-4.control-label(for='fine-reason') Причина штрафа:
                    .col-md-5
                        select#fine-reason.form-control(name='fine-reason')
                            option(value='') Акции неликвидны
            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal' data-bind="click: postFine") Выписать
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена

