#cop-main-description-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Страница личного кабинета Полицеского
      .modal-body
        p
          | Добро пожаловать в ваш личный кабинет!
        p
          | Здесь вы можете увидеть текущее положение дел на Фондовом рынке, следить за
          | волками и их акциями, проверять пакеты акций волков и выписывать штрафы.
        p
          | Вы можете проверить пакет акций на ликвидность, нажав кнопку "Проверить" в колонке "Действие"
          | соответствующей строки таблицы. Запустится таймер проверки, по истечении которого будет показан
          | результат проверки и предложено оштрафовать волка.
        p
          | Чтобы оштрафовать волка, нажмите кнопку "Оштрафовать" и выпишите штраф.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
