#user-agreement-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='user-agreement-modal')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#user-agreement-modal-label.modal-title Пользовательское соглашение
      .modal-body
        | Соглашаясь с данным документом, я подтверждаю, что даю согласие на обработку своих персональных данных, а именно:
        .br
        | - имени персонажа;
        .br
        | - адреса электронной почты.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
