#wolf-market-description.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Страница фондового рынка
      .modal-body
        p
          | Добро пожаловать на Фондовый рынок!
        p
          | Здесь приведен список акций, выставленных на продажу.
        p
          | - Пакет акций, который продается системой, выделен голубым цветом.
          |   Если у вас достаточно денег, вы можете купить его, нажав на кнопку "Купить".
          br
          br
          | - Пакет акций, который продается другими брокерами, выделен черным цветом.
          |   Если у вас достаточно денег, вы можете купить его, нажав на кнопку "Купить".
          br
          br
          | - Пакет акций, который продаете вы, выделен зеленым цветом.
          |   Если он не проверяется полицейским, вы можете снять его с продаж, нажав на кнопку "Снять".
          br
          br
          | - Пакет акций, который проверяется полицейским, выделен красным цветом и имеет статус "Проверка".
          |   Такие акции нельзя купить или снять с продажи.
          br
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
