#wolf-sell-history-description.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Страница истории продаж ликвидных акций
      .modal-body
        p
          | Добро пожаловать на страницу истории продаж ликвидных акций!
        p
          | Здесь вы можете найти список всех проданных вами ликвидных пакетов акций.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
