#wolf-main-description.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Страница личного кабинета Волка
      .modal-body
        p
          | Добро пожаловать в ваш личный кабинет!
        p
          | Здесь вы можете найти список всех ваших акций.
        p
          | - Пакет акций, который находится на продаже, выделен зеленым цветом. В колонке "Статус" указан
          | соответствующий статус - "Продается". При нажатии на статус, вы перейдете на страницу Фондового рынка.
          br
          br
          | - Пакет акций, который был куплен на Фондовом рынке и ожидает продажи, выделен черным цветом.
          |   В колонке статус расположена кнопка "Выставить на бирже". При нажатии на нее, соответствующий
          |   пакет акций будет выставлен на продажу на Фондовом рынке.
          br
          br
          | - Пакет акций, который проверяется полицейским, выделен красным цветом и имеет статус
          |   "Проверяется полицейским". В момент проверки, вы не можете предпринимать никаких действий с этим пакетом.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
