doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/lib/animate.css/animate.min.css', rel='stylesheet')
        link(href='/css/general.css', rel='stylesheet')
        link(href='/css/cop.css', rel='stylesheet')
        title Личный кабинет - Полицейский
    body
        .container
            // Top nav bar
            .row
                nav.navbar.navbar-default
                    .container
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-action')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#')
                                i.fa.fa-gavel(aria-hidden='true')
                                |  Полицейский
                        #navbar-collapse-action.collapse.navbar-collapse
                            ul.nav.navbar-nav.navbar-right
                                li
                                    h4.navbar-text.col-sm-12
                                        span.account-score
                                            i.fa.fa-star(aria-hidden='true') 
                                                span(data-bind="text: reputation()")
                                li.visible-xs.visible-sm
                                    a(href='/cop') Личный кабинет
                                hr.visible-xs.visible-sm
                                li
                                    a(href='',onclick='logout()') Выход
            // /Top nav bar
            .row
                // Left side bar
                .col-md-3.aside.hidden-sm.hidden-xs
                    a.user-info(href='/cop')
                        img.img-circle.center-block.img-responsive(src='images/cop.png')
                        p.user-email-caption.text-center.cop-color(data-bind="text: username")
                    div
                        ul.menu.text-center
                            li.active
                                a(href='/cop')
                                    div
                                        i.fa.fa-2x.fa-suitcase(aria-hidden='true')
                                    div
                                        | Личный кабинет
                //Left side bar
                // Main content
                .col-md-9
                    include modals/cop-make-fine-modal.pug
                    include modals/cop-main-description-modal.pug
                    h1.page-header Личный кабинет 
                        button.btn.btn-default#cop-main-description(type='button',  data-toggle='modal', data-target='#cop-main-description-modal')
                            | <i class="fa fa-question" aria-hidden="true"></i>
                    table.table.table-hover
                        thead
                            tr
                                th.text-center Название компании
                                th.text-center Цена
                                th.text-center Количество
                                th.text-center Волк
                                th.text-center Торги
                                th.text-center Действие
                        tbody(data-bind="foreach: wolfPackets")
                            tr
                                td.text-center(data-bind="text: company")
                                td.text-center
                                    i.fa.fa-usd(aria-hidden='true') 
                                        span(data-bind="text: price")
                                td.text-center(data-bind="text: amount")
                                td.text-center(data-bind="text: wolfname")
                                <!-- ko if: changed() > 0 -->
                                td.text-center.price-up
                                    i.fa.fa-arrow-up(aria-hidden='true') 
                                        span(data-bind="text: changed") 
                                        span  %
                                <!-- /ko -->
                                <!-- ko if: changed() <= 0 -->
                                td.text-center.price-down
                                    i.fa.fa-arrow-down(aria-hidden='true')
                                    span(data-bind="text: changed")
                                    span  %
                                <!-- /ko -->
                                // If stock is waiting for checking
                                td.text-center
                                    button.btn.btn-danger.table-row-button.btn-cop-action.btn-create-fine(
                                    -                                        type='button',data-toggle="modal",data-target="#cop-make-fine",data-bind="visible: wasInspected() && !isLegal(), click: $parent.createFine") Оштрафовать

                                    span(data-bind="visible: isInspected(), text: remainInspectionTime")
                                    button.btn.btn-primary.table-row-button.btn-cop-action.btn-inspect(
                                        type='button',data-bind="visible: !isInspected() && !wasInspected(), enable: !$parent.isInspecting(),  click: $parent.inspectPacket") Проверить

            script(src='/lib/jquery/dist/jquery.min.js')
            script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
            script(src='/lib/knockout/dist/knockout.js')
            script(src='/socket.io/socket.io.js', charset='utf-8')
            script(src='/lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
            script(src='/js/cop.js')
            script(src='/js/common.js')
