doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/general.css', rel='stylesheet')
    link(href='css/authentication.css', rel='stylesheet')
    title Волк с Уолл Стрит
  body
    include modals/user-agreement-modal.pug
    #login-register.container
      .row
        .col-md-12
          h1.text-center.caption
            i.fa.fa-money(aria-hidden='true')
            |  ВОЛК С УОЛЛ СТРИТ 
            i.fa.fa-money(aria-hidden='true')
      .row.register-login-form
        .col-md-4
        .col-md-4

          .alert.alert-danger.collapse#authentication-alert(role='alert', data-toggle="collapse")
            i.fa.fa-exclamation(aria-hidden='true')
            span.sr-only Ошибка:
            span#authentication-alert-content


          form.login-form(data-toggle='validator' data-disable='false')

            .form-group.has-feedback
              label.control-label(for='login-email') Email
              .input-group
                span.input-group-addon
                  i.fa.fa-at(aria-hidden='true')
                input#login-email.form-control(type='email', placeholder='Email', aria-describedby='login-email-status', required='', data-required-error="Пожалуйста, заполните это поле.", data-error="Пожалуйста, введите корректный email.")
                span.glyphicon.form-control-feedback(aria-hidden='true')
              .help-block.with-errors

            .form-group.has-feedback
              label.control-label(for='login-password') Пароль
              .input-group
                span.input-group-addon
                  i.fa.fa-lock(aria-hidden='true')
                input#login-password.form-control(type='password', placeholder='Пароль',data-minlength="6", aria-describedby='login-password-status', required='', data-required-error="Пожалуйста, заполните это поле.", data-minlength-error="Пароль должен быть длиной не менее 6 символов")
                span.glyphicon.form-control-feedback(aria-hidden='true')
              .help-block.with-errors

            button.btn.btn-md.btn-default.btn-block(type='submit') Войти
            p.sign-in-text.text-center.text-muted.message
              | Не зарегистрированы? 
              a(href='#') Создать аккаунт

          form.sign-up-form(data-toggle='validator', data-disable='false')

            .form-group.has-feedback
              label.control-label(for='username') Имя персонажа
              .input-group
                span.input-group-addon
                  i.fa.fa-user(aria-hidden='true')
                input#username.form-control(placeholder='Имя персонажа', required='', data-required-error="Пожалуйста, заполните это поле.")
                span.glyphicon.form-control-feedback(aria-hidden='true')
              .help-block.with-errors
            
            .form-group.has-feedback
              label.control-label(for='email') Email
              .input-group
                span.input-group-addon
                  i.fa.fa-at(aria-hidden='true')
                input#email.form-control(type='email', placeholder='Email', required='', data-required-error="Пожалуйста, заполните это поле.", data-error="Пожалуйста, введите корректный email.")
                span.glyphicon.form-control-feedback(aria-hidden='true')
              .help-block.with-errors
            
            .form-group.has-feedback
              label.control-label(for='password') Пароль
              .input-group
                span.input-group-addon
                  i.fa.fa-lock(aria-hidden='true')
                input#password.form-control(type='password', placeholder='Пароль',data-minlength="6", required='', data-required-error="Пожалуйста, заполните это поле.", data-minlength-error="Пароль должен быть длиной не менее 6 символов")
                span.glyphicon.form-control-feedback(aria-hidden='true')
              .help-block.with-errors
            
            .form-group.has-feedback
              label.control-label(for='check-password') Пароль eще раз
              .input-group
                span.input-group-addon
                  i.fa.fa-lock(aria-hidden='true')
                input#check-password.form-control(type='password', placeholder='Пароль',data-minlength="6", data-match="#password", required='', data-required-error="Пожалуйста, заполните это поле.", data-match-error="Пароли не совпадают.", data-minlength-error="Пароль должен быть длиной не менее 6 символов")
                span.glyphicon.form-control-feedback(aria-hidden='true')
              .help-block.with-errors

            .form-group
              label.control-label(for='role-pick') Роль
              select.form-control#role-pick(title='Выберите роль')
                option(name='roleOption', value='wolf')
                  |  Волк
                option(name='roleOption', value='cop')
                  |  Полицейский
                  
            .checkbox.user-agreement-checkbox
              label
                input(type='checkbox', value='remember-me')
                |  Я согласен с условиями 
                a(href='#', data-toggle="modal", data-target="#user-agreement-modal") Пользовательского соглашения
            button.btn.btn-md.btn-default.btn-block#register-button(type='submit') Зарегистрироваться
            p.sign-in-text.text-center.text-muted.message
              | Уже зарегистрированы? 
              a(href='#') Войти
        .col-md-4
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/lib/bootstrap-validator/dist/validator.min.js')
    script(src='js/authentication.js')

