extends ./wolf-layout.pug

block title
    title Фондовый рынок - Волк

block content
    include modals/wolf-market-description-modal.pug
    h1.page-header Фондовый рынок 
        button.btn.btn-default#page-faq-modal(type='button',  data-toggle='modal', data-target='#wolf-market-description')
            | <i class="fa fa-question" aria-hidden="true"></i>

    table.table.table-hover.table-responsive
        thead
            tr
                th.text-center Название компании
                th.text-center Цена
                th.text-center Количество
                th.text-center Торги
                th.text-center Тип
                th.text-center До конца торгов
                th.text-center Действие
        tbody(data-bind="foreach: advertisements")
            
            tr(data-bind="css: {'selling-system': ownerId() == null,'selling': ownerId() == $parent.userId() , 'cop-investigation' : isInspected()}")
                td.text-center(data-bind="text: company")
                td.text-center
                    i.fa.fa-usd(aria-hidden='true') 
                        span(data-bind="text: price")
                td.text-center(data-bind="text: amount")
                <!-- ko if: changed() > 0 -->
                td.text-center.price-up
                    i.fa.fa-arrow-up(aria-hidden='true') 
                        span(data-bind="text: changed")
                        span  %
                <!-- /ko -->
                <!-- ko if: changed() <= 0 -->
                td.text-center.price-down
                    i.fa.fa-arrow-down(aria-hidden='true') 
                        span(data-bind="text: changed")
                        span  %
                <!-- /ko -->
                td.text-center
                    span(data-bind="visible: isLegal()") Ликвидные
                    span(data-bind="visible: !isLegal()") Неликвидные
                td.text-center(data-bind="text:remainingTime")
                td.text-center
                    span(data-bind="visible: isInspected()") Проверка
                    button.btn.btn-primary.btn-xs.buy-packet-btn(type='button', data-bind="visible: !isInspected() && ownerId() != $parent.userId() && $parent.balance() > price() , click: $parent.buySelectedPacket") Купить
                    button.btn.btn-success.btn-xs.buy-packet-btn(type='button', data-bind="visible: !isInspected() && ownerId() == $parent.userId(), click: $parent.takeSelectedPacketOff") Снять

    script(src='/lib/knockout/dist/knockout.js')
    script(src='/js/wolf-market.js')
    script(src='/js/wolf-socket-event.js')