extends ./wolf-layout.pug

block title
    title Личный кабинет - Волк

block content
    include modals/wolf-main-description-modal.pug
    h1.page-header Личный кабинет 

        a.btn.btn-default.pull-right#packets-sell-history(href='/wolf/sell-history', role='button')
            | <i class="fa fa-history" aria-hidden="true"></i>
        button.btn.btn-default#page-faq-modal(type='button',  data-toggle='modal', data-target='#wolf-main-description')
            | <i class="fa fa-question" aria-hidden="true"></i>
    table.table.table-hover.table-responsive
        thead
            tr
                th.text-center Название компании
                th.text-center Цена
                th.text-center Количество
                th.text-center Торги
                th.text-center Тип
                th.text-center Статус
        tbody(data-bind="foreach: packets")
            tr(data-bind="css: {'selling': isSelling(),'cop-investigation' : isInspected()}")
                td.text-center(data-bind="text: company")
                td.text-center
                    i.fa.fa-usd(aria-hidden='true') 
                        span(data-bind="text: price")
                td.text-center(data-bind="text: amount")
                <!-- ko if: changed() > 0 -->
                td.text-center.price-up
                    i.fa.fa-arrow-up(aria-hidden='true') 
                        span(data-bind="text: changed") 
                        span  %
                <!-- /ko -->
                <!-- ko if: changed() <= 0 -->
                td.text-center.price-down
                    i.fa.fa-arrow-down(aria-hidden='true') 
                        span(data-bind="text: changed") 
                        span  %
                <!-- /ko -->
                td.text-center
                    span(data-bind="visible: isLegal()") Ликвидные
                    span(data-bind="visible: !isLegal()") Неликвидные
                td.text-center
                    span(data-bind="visible: isInspected()") Проверяется полицейским
                    button.btn.btn-primary.btn-xs.buy-packet-btn(type='button'
                            data-bind="visible: !isInspected() && !isSelling(), click: $parent.addSelectedPacketToMarket ") Выставить на бирже
                    a( href="/wolf/market"  data-bind="visible: !isInspected() && isSelling()") Продается


    script(src='/lib/knockout/dist/knockout.js')
    script(src='/js/wolf-main.js')
    script(src='/js/wolf-socket-event.js')


