doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/lib/animate.css/animate.min.css', rel='stylesheet')
        link(href='/css/general.css', rel='stylesheet')
        link(href='/css/wolf.css', rel='stylesheet')
        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
        script(src='/lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
        script(src='/socket.io/socket.io.js', charset='utf-8')
        script(src='/js/common.js')
        block title
            title Волк
    body
        .container
            .row
                nav.navbar.navbar-default
                    .container
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-action')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='/wolf')
                                i.fa.fa-money(aria-hidden='true')
                                |  Волк
                        #navbar-collapse-action.collapse.navbar-collapse
                            ul.nav.navbar-nav.navbar-right
                                li
                                    h4.navbar-text.col-sm-12
                                        span.wolf-money
                                            i.fa.fa-usd(aria-hidden='true') 
                                                span(data-bind="text: balance")

                                li.visible-xs.visible-sm
                                    a(href='/wolf') Личный кабинет
                                li.visible-xs.visible-sm
                                    a(href='/wolf/market') Фондовый рынок
                                hr.visible-xs.visible-sm
                                li
                                    a(href='#', onclick='logout()') Выход
            .row
                .col-md-3.aside.hidden-sm.hidden-xs
                    a.user-info(href='/wolf')
                        img.img-circle.center-block.img-responsive(src='/images/wolf.png')
                        p.user-email-caption.text-center.wolf-color(data-bind="text: username")
                    div
                        ul.text-center.wolf-menu
                            li(class = path == '/wolf' ? 'active' : undefined)
                                a(href='/wolf')
                                    div
                                        i.fa.fa-2x.fa-suitcase(aria-hidden='true')
                                    div
                                        |  Личный кабинет
                            li(class = path == '/wolf/market' ? 'active' : undefined)
                                a(href='/wolf/market')
                                    div
                                        i.fa.fa-2x.fa-money(aria-hidden='true')
                                    div
                                        |  Фондовый рынок
                            li(class = path == '/wolf/sell-history' ? 'active' : undefined)
                                a(href='/wolf/sell-history')
                                    div
                                        i.fa.fa-2x.fa-history(aria-hidden='true')
                                    div
                                        |  История продаж
                .col-md-9.table-responsive
                    block content
