extends ./wolf-layout.pug

block title
    title История продаж - Волк

block content
    include modals/wolf-sell-history-description-modal.pug

    h1.page-header История продаж 
        a.btn.btn-default.pull-right#wolf-main-page(href='/wolf', role='button')
            | 
            i.fa.fa-suitcase(aria-hidden='true')
        button.btn.btn-default#page-faq-modal(type='button',  data-toggle='modal', data-target='#wolf-sell-history-description')
            | 
            i.fa.fa-question(aria-hidden='true')

    
    table.table.table-hover.table-responsive
        thead
            tr
                th.text-center Название компании
                th.text-center Цена
                th.text-center Количество
                th.text-center Торги
                th.text-center Покупатель
                th.text-center Дата продажи
        tbody(data-bind="foreach: historyPackets")
            <!-- ko if: isLegal -->
            tr
                td.text-center(data-bind="text: company")
                td.text-center
                    i.fa.fa-usd(aria-hidden='true') 
                        span(data-bind="text: price")
                td.text-center(data-bind="text: amount")
                <!-- ko if: changed > 0 -->
                td.text-center.price-up
                    i.fa.fa-arrow-up(aria-hidden='true') 
                        span(data-bind="text: changed") 
                        span  %
                <!-- /ko -->
                <!-- ko if: changed <= 0 -->
                td.text-center.price-down
                    i.fa.fa-arrow-down(aria-hidden='true') 
                        span(data-bind="text: changed") 
                        span  %
                <!-- /ko -->
                td.text-center(data-bind="text: buyerName")
                td.text-center(data-bind="text: date", type="date")
            <!-- /ko -->



    script(src='/lib/knockout/dist/knockout.js')
    script(src='/js/wolf-sell-history.js')