.caption {
    font-size: 5.5em; }

.sign-in-text {
    padding-top: 10px; }

.sign-up-form {
    display: none; }

.register-login-form {
    padding-top: 20px; }

.role-pick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.role-caption {
    font-size: 3.5em; }

.wolf-role a {
    color: #ffb91b; }

.cop-role a {
    color: #124081; }
