/* Active side bar menu item color */
.menu .active a {
    color: #1e90ff;
}

/* Cop style color */
.cop-color {
    color: #1e90ff;
}

/* Color to define that stock is legal */
.legal-stock-color {
    color:forestgreen;
}

/* Color to define that stock is illegal */
.illegal-stock-color {
    color:darkred;
}
.btn-cop-action{
    min-width: 160px;
}

#cop-make-fine{
    top: 200px;
}