@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic-ext');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 10px;
}


/* Account score: money or reputation */
.account-score {
    color: #85bb65;
}

/* User info: pic and email */
.user-info {
    padding-left: 20px;
}

.user-info .user-email-caption {
    padding-top: 10px;
    font-weight: bold;
    font-size:1.2em;
}

/* Left side bar menu */
.menu {
    list-style-type: none;
    padding: 0;
    padding-top: 80px;
}

.menu li {
    font-size: 1.5em;
    padding-bottom: 50px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

/* Price up & price down arrows for stock price */
.price-up {
    color: forestgreen;
}

.price-down {
    color: darkred;
}

/* Page header line */
.page-header {
    border-width: 1px ;
    border-color: darkgray;
}

/* Tables */
.table-row-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* User image frame */
.imagedropshadow {
    padding: 5px;
    border: solid 2px #EFEFEF;
}
a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

a:hover {
    text-decoration: none;
}

.fixed {
        position: fixed;
        width: 25%;
}
.scrollable {
        float: right;
        width: 71%
}

.page-navbar {
    padding-bottom: 70px;
}

.allign-to-a {
    padding-left: 15px;
}

/* A bunch of overriding bootstrap rules to change default navbar collapse point */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

th,td {
    font-size: 1.2em;
}
