body {
    padding-top: 10px; }

.wolf-money {
    color: #85bb65; }

.user-info {
    padding-left: 20px; }
.user-info .user-email-caption {
    padding-top: 10px; }

.wolf-menu {
    list-style-type: none;
    padding: 0;
    padding-top: 80px; }
.wolf-menu li {
    font-size: 1.5em;
    padding-bottom: 50px; }
.wolf-menu li a {
    text-decoration: none;
    color: black; }
.wolf-menu .active a {
    color: #ffb91b; }
.nav li a.wolf-name{
    color: #000088;
}
.selling {
    color: green; }

.selling-system {
    color: blue; }

.cop-investigation {
    color: red; }

.price-up {
    color: darkgreen; }

.price-down {
    color: darkred; }

.btn-wolf-action{
    min-width: 170px;
}
.wolf-color{
    color: #1e90ff;
}