<div id="cop-make-fine" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Штраф за пакет акций Google</h4><!-- Stock package company name should be here -->
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <label for="fine-value" class="col-md-offset-2 col-md-4 control-label">Сумма штрафа:</label>
                    <div class="col-md-5">
                        <input id="fine-value" type="number" class="form-control" min="1" value="1000">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="fine-reason" class="col-md-offset-2 col-md-4 control-label">Причина штрафа:</label>

                    <div class="col-md-5">
                        <select id="fine-reason" name="fine-reason" class="form-control">
                            <option value="">Акции неликвидны</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Выписать</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>