<div id="cop-main-description" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Страница личного кабинета Полицеского</h4>
            </div>
            <div class="modal-body">
                <p>
                    Добро пожаловать в Ваш личный кабинет!
                </p>
                <p>
                    Здесь вы можете просматривать текущее положение дел на фондовом рынке, следить за
                    волками и их акциями, проверять пакеты акций волков и выписывать штрафы.
                </p>
                <p>
                    Ниже приведен список всех известных волков. Для каждого волка выводятся продаваемые им акции.
                </p>
                <p>
                    Вы можете проверить пакет акций на ликвидность, нажав кнопку "Проверить пакет" в колонке "Действие"
                    соответствующей строки таблицы. Запустится таймер проверки, по истечении которого будет показан
                    результат проверки и предложено оштрафовать волка.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>