<div id="wolf-market-description" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Страница фондового рынка</h4>
            </div>
            <div class="modal-body">
                <p>
                    Добро пожаловать на фондовый рынок.
                </p>
                <p>
                    Здесь приведен список акций, выставленных на продажу.
                </p>
                <p>
                    - Акции, которые продаются системой выделены голубым цветом.<br>
                    - Акции, которые продаются другими брокерами выделены зеленым цветом.<br>
                    - Акции, которые проверяются полицейским выделены красным цветом. Такие акции нельзя купить.<br>
                </p>
                <p>
                    Для того, чтобы купить пакет акций, нажмите на кнопку "Купить" в колонке "Действие"
                    соответствующей строки таблицы.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>