<div id="wolf-main-description" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Страница личного кабинета Волка</h4>
            </div>
            <div class="modal-body">
                <p>
                    Добро пожаловать в Ваш личный кабинет!
                </p>
                <p>
                    Здесь вы сможете найти список всех ваших акций.
                </p>
                <p>
                    - Акции, которые находятся на продаже выделены зеленым цветом. В колонке "Статус" указан
                    соответствующий статус - "Продается" и приведен таймер продажи.<br>
                    - Акции, которые были куплены на Фондовом рынке и ожидают продажи выделены белым цветом и имеют
                    статус "Ожидание продажи".<br>
                    - Акции, которые проверяются полицейским, выделены красным цветом и имеют статус
                    "Проверяется полицейским".<br>
                </p>
                <p>
                    Для того, чтобы выполнить необходимые действия над пакетом акций, нажмите на соответствующую
                    строку таблицы.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>